/* Style CSS */
.blue {                /* created */
    color: blanchedalmond;
}

body{
    color: white;
    background-color: black;
    background-image: url("image1.png");
    background-size: cover;
}

#infos{                 /* id = unique for each */
    text-transform: uppercase;
}

div.border{border-width:3px; 
border-top-left-radius:5px;
border-top-right-radius:50%;
border-bottom-right-radius:5px;
border-bottom-left-radius:50%;
border-color: white;
}

/*span. makes width=height*/

.h2-font {  
    font-size: 2em;
    text-transform: upper-case;
    color: blanchedalmond;
}


#box{   /* padding = distance between text and border*/
width: 200px;
height:200px;
border: 1px dashed blanchedalmond;
padding: 10px 15px 20px 25px;
display: inline-block; 
margin: 50px auto 50px auto; /**/
outline: 5px solid black;
outline-offset: 10 px;
opacity: 0,5; 
}


#inline {
    display: inline;
    max-width: 100px; /* adaptive dimension*/
}

h2, i {                   /* redefined multiple items, separated */
    color: blanchedalmond;
    text-decoration: none;
    border: 1px solid rgba(228, 228, 218, 0.5);
}

h2 i{                      /* redefine combo*/
    text-transform: uppercase;
}

div {
    display: inline;     /* inline = as big as text; inline-block = bigger*/
    flex-direction: column;
    align-items: center;
}

a {
   text-underline-offset: u;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
   
}

a:hover{
color:red;
}

a:visited{color:white;}
